
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------------------Row------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
* {
    font-family: Lucida Grande, Consolas, monospace;
    line-height: 1.5em;
}
.row {
    /* border: 3px solid black; */
    display: flex;
}
.row > div {
    padding: 1em;
}

/* --------------------------------Direction rules--------------------------- */
/* ------------display divs inline, block style, or in reverse--------------- */

/* Default */
.directionRow {
    flex-direction: row;
}
.directionColumn {
    flex-direction: column;
}
.directionRowReverse {
    flex-direction: row-reverse;
}
.directionColumnReverse {
    flex-direction: column-reverse;
}

/* ---------------------------------Align items------------------------------ */
/* -------Set divs inside row to top, bottom, center or stretch a row-------- */

/* Default */
.alignStretch {
    align-items: stretch;
}
.alignStart {
    align-items: flex-start;
}
.alignEnd {
    align-items: flex-end;
}
.alignCenter {
    align-items: center;
}

/* --------------------------------Wrapping rules---------------------------- */
/* --------------------Brake line, or add scroll bar------------------------- */

/* Default */
.noWrap {
    flex-wrap: nowrap;
}
.wrap {
    flex-wrap: wrap;
}
.wrapReverse {
    flex-wrap: wrap-reverse;
}

/* --------------------------------Justify rules----------------------------- */
/* ----------------------Align content on the X-axis -------------------------*/

/* Default */
.justifyStart {
    justify-content: flex-start;
}
.justifyCenter {
    justify-content: center;
}
.justifyEnd {
    justify-content: flex-end;
}
.spaceBetween {
    justify-content: space-between;
}
.spaceAround {
    justify-content: space-around;
}
.spaceEvenly {
    justify-content: space-evenly;
}


/* --------------------------------Alingn content---------------------------- */
/* ----------------------Align content on the Y-axis -------------------------*/
.baseline {
    align-items: baseline;
}

/* Default */
.stretchContent {
    align-content: stretch;
}
.startContent {
    align-content: flex-start;
}
.endContent {
    align-content: flex-end;
}
.centerContent {
    align-content: center;
}
.betweenContent {
    align-content: space-between;
}
.aroundContent {
    align-content: space-around;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ---------------------------------Items------------------------------------ */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* -------------------------------Item Order--------------------------------- */
/* --------The order in which items inside a container are displayed--------- */

/* Default */
.order0 {
    order: 0;
}
.order1 {
    order: 1;
}
.order2 {
    order: 2;
}
.order3 {
    order: 3;
}
.order4 {
    order: 4;
}

/* -------------------------------Flex Grow--------------------------------- */
/* Specifies how much space an item should use. Relative to size of other
   elements in the container.
----------------------------------------------------------------------------- */

/* Default -Items should not grow.*/
.grow0 {
    flex-grow: 0;
}
.grow1 {
    flex-grow: 1;
}
.grow2 {
    flex-grow: 2;
}
.grow3 {
    flex-grow: 3;
}
.grow4 {
    flex-grow: 4;
}

/* -------------------------------Flex Shrink-------------------------------- */
/* Specifies how much an item is allowed to shrink when reducing window size.
Relative to size of other elements in the container.
----------------------------------------------------------------------------- */

/* Default */
.shrink1 {
    flex-shrink: 1;
}
.shrink0 {
    flex-shrink: 0;
}
.shrink2 {
    flex-shrink: 2;
}
.shrink3 {
    flex-shrink: 3;
}
.shrink4 {
    flex-shrink: 4;
}

/* --------------------------------Flex Basis-------------------------------- */
/* Set the initial width of an item. use this instead of the width attribute. */

/* Default -Items grows based on content inside it. */
.widthAuto {
    flex-basis: auto;
}
.width10 {
    flex-basis: 10%;
}
.width15 {
    flex-basis: 15%;
}
.width20 {
    flex-basis: 20%;
}
.width25 {
    flex-basis: 25%;
}
.width30 {
    flex-basis: 30%;
}
.width33 {
    flex-basis: 33%;
}
.width40 {
    flex-basis: 40%;
}
.width50 {
    flex-basis: 50%;
}
.width60 {
    flex-basis: 60%;
}
.width70 {
    flex-basis: 70%;
}
.width80 {
    flex-basis: 80%;
}
.width90 {
    flex-basis: 90%;
}
.width100 {
    flex-basis: 100%;
}
.widthMin {
    flex-basis: min-content;
}

/* ------------------------------Column Position----------------------------- */
/* Set the width of an element by using this flex grid. One line = 12x.col-1. */

.row > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    min-height: 0.1em;
}

.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

/* --------------------------------Align Self-------------------------------- */
/* --------------------Align items in a row on the Y-axis-------------------- */

/* Default */
.itemStart {
    align-self: flex-start;
}
.itemEnd {
    align-self: flex-end;
}
.itemCenter {
    align-self: center;
}
.itemStretch {
    align-self: stretch;
}
.itemBaseline {
    align-self: baseline;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -----------------------------Padding, padding----------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.padding0 {
    padding: 0em;
}
.padding1 {
    padding: 1em;
}
.padding2 {
    padding: 2em;
}
.padding3 {
    padding: 3em;
}
.paddingLeft1 {
    padding-left: 1em;
}
.paddingLeft2 {
    padding-left: 2em;
}
.paddingLeft3 {
    padding-left: 3em;
}
.paddingRight1 {
    padding-right: 1em;
}
.paddingRight2 {
    padding-right: 2em;
}
.paddingRight3 {
    padding-right: 3em;
}
.paddingTop1 {
    padding-top: 1em;
}
.paddingTop2 {
    padding-top: 2em;
}
.paddingTop3 {
    padding-top: 3em;
}
.paddingBottom1 {
    padding-bottom: 1em;
}
.paddingBottom2 {
    padding-bottom: 2em;
}
.paddingBottom3 {
    padding-bottom: 3em;
}

.margin0 {
    margin: 0em;
}
.margin1 {
    margin: 1em;
}
.margin2 {
    margin: 2em;
}
.margin3 {
    margin: 3em;
}
.marginLeft1 {
    margin-left: 1em;
}
.marginLeft2 {
    margin-left: 2em;
}
.marginLeft3 {
    margin-left: 3em;
}
.marginRight1 {
    margin-right: 1em;
}
.marginRight2 {
    margin-right: 2em;
}
.marginRight3 {
    margin-right: 3em;
}
.marginTop1 {
    margin-top: 1em;
}
.marginTop2 {
    margin-top: 2em;
}
.marginTop3 {
    margin-top: 3em;
}
.marginBottom1 {
    margin-bottom: 1em;
}
.marginBottom2 {
    margin-bottom: 2em;
}
.marginBottom3 {
    margin-bottom: 3em;
}
