.item-1 {
    background-color: green;
}
.item-2 {
    background-color: red;
}
.item-3 {
    background-color: purple;
}
.item-4 {
    background: orange;
}
.item-5 {
    background-color: blue;
}
.item-6 {
    color white;
    background-color: black;
}
.item-7 {
    background-color: pink;
}
.item-8 {
    background-color: yellow;
}
.item-9 {
    background-color: gray;
}
.border {
    border: 1px solid black;
}
